.carousel-item {
    width: 100%;
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-banner1 {
    background-image: url('https://www.tatanexarc.com/per/g04/pub/2190/iONAppsHub/instance/staticpages/front-end/static-appcode/homepage/images/homepage-slider/main-banner/1/1366x600_110423.jpg');
}

.home-banner2 {
    background-image: url('https://www.tatanexarc.com/per/g04/pub/2190/iONAppsHub/instance/staticpages/front-end/static-appcode/homepage/images/homepage-slider/main-banner/5/1366x600_08112022.jpg');
}

.home-banner3 {
    background-image: url('https://www.tatanexarc.com/per/g04/pub/2190/iONAppsHub/instance/staticpages/front-end/static-appcode/homepage/images/homepage-slider/main-banner/6/1366x600_20102022.jpg');
}

.carousel-content {
    padding: 60px 90px;
    color: white;
}

.intro {
    margin-top: -210px;
    padding: 60px 90px;
}

.intro .card {
  border-radius: 25px;
  border: none;
  padding: 20px;
  box-shadow: 0px 10px 39px rgb(0 0 0 / 8%);
}

.services {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
}

.title {
    text-align: center;
}

.services-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.services-content img {
    border-radius: 5px;
}

.services-content h3 {
    margin-top: 8px;
}

/* Procure Section */

.procure {
  background-image: url('../images/procure.PNG');
  height: 492px;
  width: 100%;
  background-repeat: no-repeat;
}

.procure .procure-container {
  padding: 60px 90px;
}

.content-box {
  margin-top: 50px;
}

.procure .procure-container .procure-title {
  color: #30f2c0;
  font-size: 40px;
  margin-top: 30px;
}

.procure .procure-container .procure-tag {
  color: white;
  font-size: 44px;
  margin-top: 10px;
}

.procure .procure-container .btn-primary {
  background-color: #833CFF;
  border: 1px solid #833CFF;
  margin-top: 20px;
}

.procure .procure-container .btn-primary:hover {
  background-color: white;
  color: #833CFF;
}

/* Footer Section */

footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .footer-container {
  padding: 0px 60px;
}

footer .footer-top {
  border-bottom: 3px solid #ECEEF4;
  margin-bottom: 15px;
}

footer img {
  margin-bottom: 20px;
}

footer .footer-desc {
  font-size: 18px;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
}

footer .footer-content .footer-text {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

footer .footer-content .footer-link {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

footer .footer-content .footer-link:hover {
  color: #833CFF;
}

footer .footer-bottom {
  margin-top: 20px;
}

footer .footer-bottom .footer-first {
  display: flex;
  justify-content: space-between;
}

.footer-right i {
  margin-left: 10px;
  margin-right: 10px;
}

footer .footer-bottom .footer-second {
  display: flex;
  justify-content: space-between;
}

/* Testimonial Section */

#testimonial-area .section-heading h2 {
    font-size: 48px;
    line-height: 58px;
  }
  
  .testi-wrap {
    position: relative;
    height: 600px;
    margin-top: -40px;
  }
  
  .client-single {
    margin-top: 20px;
    text-align: center;
    position: absolute;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  .client-info,
  .client-comment {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .client-single.inactive .client-comment,
  .client-single.inactive .client-info {
    display: none;
  }
  .client-single.inactive .client-comment,
  .client-single.inactive .client-info {
    opacity: 0;
    visibility: hidden;
  }
  .client-single.position-1 {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
  }
  .client-single.position-2 {
    left: -40px;
    top: 105px;
  }
  .client-single.position-3 {
    left: -60px;
    top: 240px;
    -webkit-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
  }
  .client-single.position-4 {
    left: 55px;
    top: 380px;
  }
  .client-single.position-5 {
    top: 30px;
    right: 55px;
  }
  .client-single.position-6 {
    top: 225px;
    right: -40px;
  }
  .client-single.position-7 {
    top: 400px;
    right: 45px;
    -webkit-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
  }
  .client-single.active {
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    width: 70%;
  }
  .client-single.active .client-comment,
  .client-single.active .client-info {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  .client-single:not(.active) {
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
    z-index: 99;
  }
  .client-single.active .client-img {
    width: 160px;
    height: 160px;
    margin: 0 auto 24px;
    position: relative;
  }
  .client-single.active .client-img:before {
    border-radius: 100%;
    content: "";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9d5bfe), to(#3890fe));
    background-image: linear-gradient(180deg, #9d5bfe 0%, #3890fe 100%);
    padding: 5px;
    width: 160px;
    height: 160px;
    top: -4px;
    left: 0px;
    position: absolute;
    z-index: -1;
  }
  .client-single .client-img img {
    width: 150px;
    border-radius: 50%;
    border: 8px solid #d1e9ff;
    cursor: pointer;
  }
  .client-single.active .client-img img {
    max-width: 160px;
    margin: 0 auto 24px;
    border: 0;
  }
  
  .client-comment {
    padding: 0 30px;
  }
  .client-comment h3 {
    font-size: 22px;
    line-height: 32px;
    color: #505b6d;
  }
  .client-comment span i {
    font-size: 60px;
    color: #0084ff;
    display: inline-block;
  }
  
  .client-info h3 {
    color: #000;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .client-info p {
    color: #0084ff;
    text-transform: uppercase;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #testimonial-area .section-heading h2 {
      font-size: 30px;
    }
  
    .client-comment h3 {
      font-size: 18px;
      line-height: 28px;
    }
  
    .client-single.active {
      width: 60%;
    }
  
    .client-single:not(.active) {
      -webkit-transform: scale(0.55);
      transform: scale(0.35);
    }
  
    .client-single.position-3,
  .client-single.position-7 {
      -webkit-transform: scale(0.3) !important;
      transform: scale(0.3) !important;
    }
  
    .client-single.active .client-img img {
      max-width: 100px;
    }
  
    .client-single.active .client-img::before {
      padding: 5px;
      width: 108px;
      height: 108px;
      top: -4px;
      left: 6px;
    }
  
    .client-single.active .client-img {
      width: 120px;
      height: 100px;
    }
  
    .testi-wrap {
      height: 580px;
    }
  
    #testimonial-area {
      padding: 100px 0 0;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    #testimonial-area .section-heading h2 {
      font-size: 30px;
    }
  
    .client-comment h3 {
      font-size: 14px;
      line-height: 26px;
    }
  
    .client-single.active {
      width: 60%;
    }
  
    .client-comment span i {
      font-size: 40px;
    }
  
    .client-single:not(.active) {
      -webkit-transform: scale(0.55);
      transform: scale(0.35);
    }
  
    .client-single.position-5,
  .client-single.position-7 {
      right: 0;
    }
  
    .client-single.position-4 {
      left: 0;
    }
  
    .client-single.position-3,
  .client-single.position-7 {
      -webkit-transform: scale(0.3) !important;
      transform: scale(0.3) !important;
    }
  
    .client-single.active .client-img img {
      max-width: 80px;
    }
  
    .client-single.active .client-img::before {
      padding: 5px;
      width: 88px;
      height: 88px;
      top: -4px;
      left: 16px;
    }
  
    .client-single.active .client-img {
      width: 120px;
      height: 100px;
    }
  
    .testi-wrap {
      height: 630px;
    }
  }
  @media only screen and (min-width: 360px) and (max-width: 479px) {
    #testimonial-area .section-heading h2 {
      font-size: 30px;
      line-height: 40px;
    }
  
    .client-comment h3 {
      font-size: 14px;
      line-height: 26px;
    }
  
    .client-single.active {
      width: 80%;
    }
  
    .client-comment span i {
      font-size: 40px;
    }
  
    .client-single:not(.active) {
      -webkit-transform: scale(0.25);
      transform: scale(0.25);
    }
  
    .client-single.position-5,
  .client-single.position-7,
  .client-single.position-6 {
      right: -70px;
    }
  
    .client-single.position-4 {
      left: -60px;
    }
  
    .client-single.position-3 {
      left: -75px;
    }
  
    .client-single.position-3,
  .client-single.position-7 {
      -webkit-transform: scale(0.25) !important;
      transform: scale(0.25) !important;
    }
  
    .client-single.active .client-img img {
      max-width: 80px;
    }
  
    .client-single.active .client-img::before {
      padding: 5px;
      width: 88px;
      height: 88px;
      top: -4px;
      left: 16px;
    }
  
    .client-single.active .client-img {
      width: 120px;
      height: 100px;
    }
  
    .testi-wrap {
      height: 700px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 359px) {
    #testimonial-area .section-heading h2 {
      font-size: 30px;
    }
  
    .client-comment h3 {
      font-size: 14px;
      line-height: 26px;
    }
  
    .client-single.active {
      width: 80%;
    }
  
    .client-comment span i {
      font-size: 40px;
    }
  
    .client-single:not(.active) {
      -webkit-transform: scale(0.25);
      transform: scale(0.25);
    }
  
    .client-single.position-5,
  .client-single.position-7,
  .client-single.position-6 {
      right: -70px;
    }
  
    .client-single.position-4 {
      left: -60px;
    }
  
    .client-single.position-3 {
      left: -75px;
    }
  
    .client-single.position-3,
  .client-single.position-7 {
      -webkit-transform: scale(0.25) !important;
      transform: scale(0.25) !important;
    }
  
    .client-single.active .client-img img {
      max-width: 80px;
    }
  
    .client-single.active .client-img::before {
      padding: 5px;
      width: 88px;
      height: 88px;
      top: -4px;
      left: 16px;
    }
  
    .client-single.active .client-img {
      width: 120px;
      height: 100px;
    }
  
    .testi-wrap {
      height: 550px;
    }
  }

/* Media Queries */

@media (max-width: 767px) {
  
  .carousel-content {
    padding: 60px 30px;
    color: white;
  }

  .intro {
    padding: 0;
  }

  .intro .card {
    border-bottom: 0;
    box-shadow: none;
    margin-bottom: 15px;
  }

  .intro .card img {
    margin-top: 20px;
  }

  .services, #testimonial-area, .procure .procure-container, footer .footer-container {
    padding: 10px 40px;
  }

  .services .services-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .services .services-container .services-content {
    margin: 15px 0;
  }

  footer .footer-container .footer-content .footer-text, footer .footer-container .footer-content .contact-text {
    margin-top: 10px;
  }

  footer .footer-first, footer .footer-second {
    flex-direction: column;
    align-items: center;
  }

}